[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
requests = "*"
djoser = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
six = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.11"
