{% extends 'subscriber/layout.html'%} {% load static %} {% block content %}

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">

        
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form action="{% url 'payment' %}" method="post">
        {% csrf_token %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ STRIPE_PUBLISHABLE_KEY }}"
            data-amount="1000"
            data-name="Demo Site"
            data-description="Professional"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
        </script>
    </form>
        
      </div>
    </div>
  </div>
</div>
    <script>
        // Set the Stripe publishable key
        Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');
    </script>
  {% endblock content %}
