{% extends 'subscriber/layout.html'%} {% load static %} {% block content %}

<div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-secondary font-weight-medium">Basic</div>
                    <div class="display-5 fw-bold my-3">$49</div>
                      <ul class="list-unstyled lh-lg">
              <li>Access to basic weather data</li>
              <li>Limited API requests per month</li>
              <li>Email support</li>
            </ul>
                    <div class="text-center mt-4">
                      <a href="{% url 'payment' %}" class="btn w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                  </div>
                  <div class="card-body text-center">
                    <div class="text-uppercase text-secondary font-weight-medium">Standard</div>
                    <div class="display-5 fw-bold my-3">$99</div>
                    <ul class="list-unstyled lh-lg">
                      <li>Access to standard weather data</li>
              <li>Increased API requests per month</li>
              <li>Priority email support</li>
              <li>Customizable data parameters</li>
              <li>Premium Plan</li>
            </ul>
                    <div class="text-center mt-4">
                      <a href="{% url 'payment' %}" class="btn btn-green w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card card-md">
                  <div class="card-body text-center">
                    <div class="text-uppercase text-secondary font-weight-medium">Premium</div>
                    <div class="display-5 fw-bold my-3">$99</div>
                    <ul class="list-unstyled lh-lg">
                      <li>Access to premium weather data</li>
              <li>Unlimited API requests per month</li>
              <li>Priority email and phone support</li>
              <li>Customizable data parameters</li>
              <li>Historical weather data access</li>
              <li>Customizable data parameters</li>
              <li>24/7 support</li>
            </ul>
                    <div class="text-center mt-4">
                      <a href="{% url 'payment' %}" class="btn w-100">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
            
              
            </div>
          </div>
        </div>
{% endblock content%}
