{% extends 'observer/layout.html'%}
{% load static %}
{% block  content %}

<div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sht6td5LmyA" frameborder="0" allowfullscreen></iframe>

                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=rn7CvtDPbkw" frameborder="0" allowfullscreen></iframe>                  
                </div>
              </div>
                
                <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
{#                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=wMJmUAOpsg8" frameborder="0" allowfullscreen></iframe>                  #}
                  
                </div>
              </div>
            </div>
              
              <div class="row mt-5">
                  <label class="form-check">
                              <input class="form-check-input" type="checkbox">
                              <span class="form-check-label">
                               I agree to take the weather course and understand its content.
                              </span>
                              
                            </label>
                  
                   <div class="card-footer text-end">
                  <button type="submit" class="btn btn-primary submit-course">Submit</button>
                </div>
              </div>
              
              
              
          </div>

                            
</div>

{% endblock content%}