{% extends 'observer/layout.html'%} {% load static %} {% block content %}

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <form  method="post" class="card add_observation">
            {% csrf_token %}
          <div class="card-header">
            <h4 class="card-title">Create Observation </h4>
          </div>
          <div class="card-body">
               
            <div class="row g-5">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Date</label>
                      <input
                        type="date"
                        class="form-control shadow-none"
                        name="date"
                        id="date"
                        placeholder="Input placeholder"
                        required
                      />
                        <span id="dateError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Time</label>
                      <input
                        type="time"
                        class="form-control shadow-none"
                        name="time"
                        id="time"
                        placeholder="Input placeholder"
                        required
                      />
                          <span id="timeError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Time Zone</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                        name="timeZoneOffset"
                               id="timeZoneOffset"
                        placeholder="America/Sao_Paulo"
                        required
                      />
                          <span id="timeZoneOffsetError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Location</label>
                      <input
                        type="text"
                        class="form-control shadow-none "
                        name="location"
                        id="what3words"
                        placeholder="What3Words location"
                        required
                      />
                            <span id="locationError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label"
                        >Temprature (Land Surface)</label
                      >
                      <input
                        type="text"
                        class="form-control shadow-none"
                        name="temperatureLandSurface"
                        id="temperatureLandSurface"
                        placeholder="8°C"
                        required
                      />
                            <span id="temperatureLandSurfaceError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Temprature (Sea Surface)</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                         name="temperatureSeaSurface"
                         id="temperatureSeaSurface"
                        placeholder="10°C"
                        required
                      />
                        <span id="temperatureSeaSurfaceError" style="color: red;"></span>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Humidity</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                         name="humidity"
                          id="humidity"
                        placeholder="5g/kg"
                        required
                      />
                        <span id="humidityError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Wind Speed</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                         name="windSpeed"
                         id="windSpeed"
                        placeholder="5km/h"
                        required
                      />
                        <span id="windSpeedError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Wind Direction</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                         name="windDirection"
                         id="windDirection"
                        placeholder="23.43,43.875"
                        required
                      />
                         <span id="windDirectionError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Precipitation</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                        name="precipitation"
                        id="precipitation"
                        placeholder="23.43,43.875"
                        required
                      />
                         <span id="precipitationError" style="color: red;"></span>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <div class="mb-3">
                      <label class="form-label">Haze</label>
                      <input
                        type="text"
                        class="form-control shadow-none"
                         name="haze"
                         id="haze"
                        placeholder="29%"
                        required
                      />
                        <span id="hazeError" style="color: red;"></span>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-12">
                    <div class="mb-3">
                      <label class="form-label">Notes</label>
                      <textarea
                        type="text"
                        class="form-control shadow-none"
                         name="notes"
                         id="notes"
                        placeholder="Brief description/summary of weather details"
                        
                      ></textarea>
                        <span id="notesError" style="color: red;"></span>
                    </div>
                  </div>
                    
                    <div class="card-footer text-end">
                  <button type="submit" class="btn btn-primary ">Save</button>
                </div>
                    
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
        <script src="{% static 'js/observer/add_observertion.js'%}" ></script>

  {% endblock content%}
</div>
