{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section
  id="site-breadcumb"
  style="background-image: url('assets/images/breadcumb/breadcumb-bd.svg')"
>
  <div class="site-breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">About</h1>
            <ul class="page-navigator">
              <li class="home"><a href="index.html">Home</a></li>
              <li class="current-page"><a href="#">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->
<!-- about section start -->
<section class="about-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="sec-images">
          <div
            class="sec-img-one overflow-hidden wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <img src="assets/images/about/about01.png" alt="about-img" />
          </div>
          <div
            class="sec-img-two overflow-hidden wow fadeInRight"
            data-wow-delay="500ms"
            data-wow-duration="1500ms"
          >
            <img src="assets/images/about/about02.png" alt="about-img" />
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 tab-col-gap wow fadeInUp"
        data-wow-delay="0ms"
        data-wow-duration="1500ms"
      >
        <div class="sec-content">
          <h6 class="sec-sub-title">About Your Company</h6>
          <h2 class="sec-title">
            We Execute Our ideas From The Start to Finish
          </h2>
          <p class="sec-text">
            Solve Business Problems And Automate Workflows With Artificial Work
            Intelligence-Based Solutions. Unlock The Hidden Power Of The Data
            You Already Have And Hand Hampers The Creativity.
          </p>
          <ul class="sec-list-item">
            <li>
              <i class="fa-solid fa-square-check"></i> Development of Financial
              Models
            </li>
            <li>
              <i class="fa-solid fa-square-check"></i> Nifty team is a diverse
              network of consultants
            </li>
            <li>
              <i class="fa-solid fa-square-check"></i> Industry professionals
              with a global mindset
            </li>
          </ul>
          <div class="sec-btn">
            <a class="thm-btn" href="about.html"
              ><span class="txt">Read More</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!-- business section start -->
<section class="business-sec sec-ptb bg-light-greem">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="sec-content h-100 d-flex justify-content-center flex-column"
        >
          <h6 class="sec-sub-title">Buisness Process</h6>
          <h2 class="sec-title">Easy Way Build Success your Buisness Pla</h2>
          <p class="sec-text">
            Solve Business Problems And Automate Workflows With Artificial
            Intelligence-Based Solutions. Unlock The Hidden Power Of The Data
            You Already Have And Hand.
          </p>
          <div class="progressbar-tooltip">
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="80"
              data-title="Productivity"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="75"
              data-title="Digital Marketing"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="90"
              data-title="Technology"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tab-col-gap">
        <div
          class="sec-images wow fadeInRight"
          data-wow-delay="0.5s"
          data-wow-duration="1500ms"
        >
          <div class="sec-img-one">
            <img src="assets/images/about/about03.png" alt="about-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- business section start -->
<!-- company quick info start -->
<section class="company-qinfo-sec">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="company-qinfo-raaper bg-green d-lg-flex">
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 1 -->
            <div class="info-icon">
              <i class="flaticon-management"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="200"></span>+</h2>
              <span>Team Member</span>
            </div>
          </div>
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 2 -->
            <div class="info-icon">
              <i class="flaticon-completed-task"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="25"></span>k+</h2>
              <span>Complete Project</span>
            </div>
          </div>
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 3 -->
            <div class="info-icon">
              <i class="flaticon-handshake"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="18"></span>k+</h2>
              <span>Client Review</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- company quick info end -->
<!-- testimonial section start -->
<section class="testimonial-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="sec-content text-center mb-5">
          <h6 class="sec-sub-title">Clients Testimonials</h6>
          <h2 class="sec-title">What Our Customers Say</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testimonial-slider owl-carousel owl-theme">
        <div class="item">
          <!-- single testimonial 1 -->
          <div class="single-testimonial">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                “I requested a UI update gig and received job excellent from
                Maria! talented young UI/UX designer who will beat your
                expectation! and quick feedback. Will definitely work with
                again!”
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="assets/images/testimonial/tc1.png"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Joshua Liddell</h5>
                <span class="title">Company Owner</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- single testimonial 2 -->
          <div class="single-testimonial">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                “I requested a UI update gig and received job excellent from
                Maria! talented young UI/UX designer who will beat your
                expectation! and quick feedback. Will definitely work with
                again!”
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="assets/images/testimonial/tc2.png"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Arush Aggarwal</h5>
                <span class="title">Senior Manager</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- single testimonial 3 -->
          <div class="single-testimonial">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                “I requested a UI update gig and received job excellent from
                Maria! talented young UI/UX designer who will beat your
                expectation! and quick feedback. Will definitely work with
                again!”
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="assets/images/testimonial/tc3.png"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Rosy Flower Gaggero</h5>
                <span class="title">Ceo And Founder</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->
<!-- team section start -->
<section class="team-sec sec-ptb bg-light-greem">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="sec-content">
          <h6 class="sec-sub-title">Our Team Members</h6>
          <h2 class="sec-title">Building A Smarter future Through IT</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="team-slider owl-carousel owl-theme pt-5">
          <div class="item single-team">
            <!-- team member 1 -->
            <div class="member-img">
              <img src="assets/images/team/team1.png" alt="team" />
            </div>
            <ul class="team-social">
              <li>
                <a class="icon-1" href="http://facebook.com/" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="icon-2" href="http://twitter.com/" target="_blank"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
              </li>
              <li>
                <a class="icon-3" href="http://instagram.com/" target="_blank"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="icon-4" href="http://linkedin.com/" target="_blank"
                  ><i class="fa-brands fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
            <div class="member-info">
              <a href="#"> <h3 class="member-name">Edoardo Romussi</h3></a>
              <span class="member-cat">Ui/Ux Designer</span>
            </div>
          </div>
          <div class="item single-team">
            <!-- team member 2 -->
            <div class="member-img">
              <img src="assets/images/team/team2.png" alt="team" />
            </div>
            <ul class="team-social">
              <li>
                <a class="icon-1" href="http://facebook.com/" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="icon-2" href="http://twitter.com/" target="_blank"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
              </li>
              <li>
                <a class="icon-3" href="http://instagram.com/" target="_blank"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="icon-4" href="http://linkedin.com/" target="_blank"
                  ><i class="fa-brands fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
            <div class="member-info">
              <a href="#"> <h3 class="member-name">Jessica James</h3></a>
              <span class="member-cat">Marketing Coordinator</span>
            </div>
          </div>
          <div class="item single-team">
            <!-- team member 3 -->
            <div class="member-img">
              <img src="assets/images/team/team3.png" alt="team" />
            </div>
            <ul class="team-social">
              <li>
                <a class="icon-1" href="http://facebook.com/" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a class="icon-2" href="http://twitter.com/" target="_blank"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
              </li>
              <li>
                <a class="icon-3" href="http://instagram.com/" target="_blank"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="icon-4" href="http://linkedin.com/" target="_blank"
                  ><i class="fa-brands fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
            <div class="member-info">
              <a href="#"> <h3 class="member-name">Adrian Williams</h3></a>
              <span class="member-cat">Web Designer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team section end -->
<!-- newslatter section start -->
<section class="newslatter bg-light-greem">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="newslatter-style2">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h4 class="newslatter-text">
                Subscribe to Our Newsletter for the daily Updates
              </h4>
            </div>
            <div
              class="col-lg-6 offset-xl-1 col-xl-6 d-flex flex-column justify-content-center"
            >
              <div class="Subscribe-form d-flex">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Your Email"
                  id="cta-email"
                  name="cta-eail"
                  required=""
                />
                <button type="submit" class="thm-btn">
                  <span class="txt">Subscribe</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section end -->
<!-- footer start -->

{% endblock content %}
