{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section
  id="site-breadcumb"
  style="background-image: url('assets/images/breadcumb/breadcumb-bd.svg')"
>
  <div class="site-breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our API</h1>
            <ul class="page-navigator">
              <li class="home"><a href="/">Home</a></li>
              <li class="current-page"><a href="#">API</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->
<section class="blog-page-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="blog-item-wrapper">
          <div
            class="blog-left-box blog-item wow fadeInUp"
            data-wow-delay="0.5s"
            data-wow-duration="1500ms"
          >
            <!-- blog item 1 -->

            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Greenaware API Documentation</a>
                </h3>
              </div>
              <div class="blog-body">
                <p class="mt-3">
                  Welcome to the Greenaware API documentation! Our API empowers
                  developers to integrate weather intelligence into their
                  applications, providing access to real-time and forecast
                  weather data for locations around the world. Below, you'll
                  find comprehensive documentation on how to use our API to
                  retrieve weather information and leverage powerful features to
                  enhance your applications. 
                  <p>Please, <a href="{% url 'register' %}?ty=sub">Sign up</a> to use our fast and easy-to-work weather APIs</p>
                </p>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Base URL</a>
                </h3>
              </div>
              <div class="blog-body">
                <code class="mt-3"> https://api.greenaware.com/v1 </code>
              </div>
            </div>
            <div>
              <div class="content-box">
                <div class="title-box blog-title">
                  <h3>
                    <a href="blog_details.html">Authentication</a>
                  </h3>
                </div>
                <div class="blog-body">
                  <code>Authorization: Bearer YOUR_API_KEY</code>
                </div>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Endpoints</a>
                </h3>
              </div>
              <div class="blog-body mt-2">
                <ul>
                  <li>
                    <p class="fw-bold">GET /users</p>
                    <p>
                      <small>Retrieve all the users with diverse roles .</small>
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">POST /users</p>
                    <p>
                      <small
                        >Create a user with and specify the user's role
                        (subscriber or observer).</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">GET /current-user</p>
                    <p>
                      <small
                        >Retrieve the current user data by specifying the token
                        .</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">POST /auth</p>
                    <p>
                      <small
                        >Authenticate and Authorize users with the auth
                        resource</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">POST /auth/activate-user</p>
                    <p>
                      <small
                        >Authenticate and Authorize users with the auth
                        resource</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">GET /observations</p>
                    <p>
                      <small
                        >Retrieve current weather data for a specific
                        location.</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">POST /observations</p>
                    <p>
                      <small
                        >Create weather observation data for a specific
                        location.</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">PATCH /observations/{id}</p>
                    <p>
                      <small
                        >Ammend weather observation data for a specific
                        location.</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">DELETE /observations/{id}</p>
                    <p>
                      <small
                        >An observer can delete his weather observation data for
                        a specific location.</small
                      >
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Query Parameters</a>
                </h3>
              </div>
              <div class="blog-body">
                <ul>
                  <li>
                    <p class="fw-bold">Location:</p>
                    <p>
                      <small
                        >The location for which you want to retrieve weather
                        data. This can be specified as a city name, ZIP code, or
                        latitude/longitude coordinates.</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">units:</p>
                    <p>
                      <small
                        >The units in which you want to receive the weather data
                        (e.g., metric or imperial).</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">start_date (for historical endpoint):</p>
                    <p>
                      <small
                        >The start date for the historical weather data you want
                        to retrieve.</small
                      >
                    </p>
                  </li>
                  <li>
                    <p class="fw-bold">end_date (for historical endpoint):</p>
                    <p>
                      <small
                        >The end date for the historical weather observation
                        data you want to retrieve.</small
                      >
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Response Format</a>
                </h3>
              </div>
              <div class="blog-body">
                <p>
                  The response format for each endpoint will vary depending on
                  the specific data being retrieved. However, most responses
                  will be in JSON format and will include relevant weather
                  information such as temperature, humidity, wind speed, and
                  more.
                </p>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Error Handling</a>
                </h3>
              </div>
              <div class="blog-body">
                <p>
                  If there are any errors with your API request, you will
                  receive an appropriate HTTP status code along with an error
                  message in the response body.
                </p>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Rate Limits</a>
                </h3>
              </div>
              <div class="blog-body">
                <p>
                  To ensure fair usage of the Greenaware API, rate limits are
                  enforced on API requests. Please refer to our API
                  documentation for details on rate limits and how to handle
                  rate limit errors.
                </p>
              </div>
            </div>
            <div class="content-box">
              <div class="title-box blog-title">
                <h3>
                  <a href="blog_details.html">Get Started</a>
                </h3>
              </div>
              <div class="blog-body">
                <p>
                  Ready to get started? Sign up for an API key and explore the
                  full capabilities of the Greenaware API. If you have any
                  questions or need assistance, don't hesitate to contact our
                  support team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="sidebar ms-xl-4">
          <div class="sidebar-item blog-sidebar-search">
            <!-- Search Form -->
            <h4 class="stitle">Search</h4>
            <form action="#">
              <input type="text" placeholder="Search here..." />
              <button type="submit">
                <img
                  src="{% static 'assets/images/blog/icon/tabler_search.svg' %}"
                  alt="icon"
                />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section start -->
<section class="newslatter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="newslatter-style2">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h4 class="newslatter-text">
                Subscribe to Our Newsletter for the daily Updates
              </h4>
            </div>
            <div
              class="col-lg-6 offset-xl-1 col-xl-6 d-flex flex-column justify-content-center"
            >
              <div class="Subscribe-form d-flex">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Your Email"
                  id="cta-email"
                  name="cta-eail"
                  required=""
                />
                <button type="submit" class="thm-btn">
                  <span class="txt">Subscribe</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section end -->

{% endblock content %}
