{% extends 'new/layout.html'%} {% load static %} {% block content %}

<!-- hero section start -->
<section class="hero-sec bg-green hero-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-content">
          <span class="hero-tagline text-teal">Plan with Precision</span>
          <h1 class="hero-title text-white">
            Unlock the Power of Weather Data
          </h1>
          <p class="text-white">
            Make Informed Decisions. Stay Ahead of the Weather. Access Real-Time
            Data.
          </p>
          <div class="hero-btn-area d-flex align-items-center">
            <a class="thm-btn" href="about.html">
              <span class="txt">Get Started</span>
            </a>
            <a
              href="https://www.youtube.com/watch?v=UVAyIh5V4NY"
              class="play-btn"
              ><i class="fas fa-play"></i
            ></a>
            <span class="play-intro">Play Intro</span>
          </div>
          <div class="hero-team-info d-flex align-items-center">
            <div class="team-members d-flex">
              <div class="team-members-img">
                <img
                  src="{% static 'assets/images/team/team-info1.png' %}"
                  alt=""
                />
              </div>
              <div class="team-members-img">
                <img
                  src="{% static 'assets/images/team/team-info2.png' %}"
                  alt=""
                />
              </div>
              <div class="team-members-img">
                <img
                  src="{% static 'assets/images/team/team-info3.png' %}"
                  alt=""
                />
              </div>
              <div class="team-members-img">
                <img
                  src="{% static 'assets/images/team/team-info4.png' %}"
                  alt=""
                />
              </div>
              <div class="team-members-img">
                <img
                  src="{% static 'assets/images/team/team-info5.png' %}"
                  alt=""
                />
              </div>
            </div>
            <div class="total-team-count">
              <span>5</span>
              <p>Gold Observers</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-images hero-style1">
          <div class="hero-feature-img feature-one br-style1">
            <img
              class="br-style1"
              src="{% static 'assets/images/hero/hero-img1.png' %}"
              alt="hero-img"
            />
          </div>
          <div class="hero-info-img feature-two">
            <img
              src="{% static 'assets/images/hero/hero-info-img1.png' %}"
              alt="hero-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero section end -->
<!-- about section start -->
<section class="about-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="sec-images">
          <div
            class="sec-img-one overflow-hidden wow fadeInLeft"
            data-wow-delay="500ms"
            data-wow-duration="1500ms"
          >
            <img
              src="{% static 'assets/images/about/about01.png' %}"
              alt="about-img"
            />
          </div>
          <div
            class="sec-img-two overflow-hidden wow fadeInRight"
            data-wow-delay="500ms"
            data-wow-duration="1500ms"
          >
            <img
              src="{% static 'assets/images/about/about02.png' %}"
              alt="about-img"
            />
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 tab-col-gap wow fadeInUp"
        data-wow-delay="500ms"
        data-wow-duration="1500ms"
      >
        <div class="sec-content">
          <h6 class="sec-sub-title">About Greenaware</h6>
          <h2 class="sec-title">Empowering Your Decisions with Data</h2>
          <p class="sec-text">
            At Greenaware, we're passionate about leveraging cutting-edge
            technology to provide you with the weather data you need to make
            informed decisions. Our team of experts is dedicated to delivering
            real-time insights and actionable information, helping you stay
            ahead of the weather and optimize your operations.
          </p>
          <ul class="sec-list-item">
            <li>
              <i class="fa-solid fa-square-check"></i> Cutting-Edge Technology
            </li>
            <li>
              <i class="fa-solid fa-square-check"></i> Expertise You Can Trust
            </li>
            <li>
              <i class="fa-solid fa-square-check"></i> Commitment to Innovation
            </li>
          </ul>
          <div class="sec-btn">
            <a class="thm-btn" href="{% url 'about' %}"
              ><span class="txt">Read More</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!-- service section start -->
<section class="service-sec bg-light-greem sec-ptb">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-delay="0ms"
        data-wow-duration="1500ms"
      >
        <div class="sec-content">
          <h6 class="sec-sub-title">Our Offerings</h6>
          <h2 class="sec-title">
            Our Comprehensive Solutions Tailored to Your Needs
          </h2>
          <p class="sec-text">
            Explore our range of services designed to provide you with the
            weather data you need, when you need it. Whether you're a farmer, a
            logistics manager, or a research institution, we have the tools and
            expertise to support your decision-making process. From real-time
            weather monitoring to historical data analysis, our solutions are
            flexible, reliable, and backed by cutting-edge technology.
          </p>
          <div class="sec-btn">
            <a class="thm-btn" href="{% url 'pricing_plan' %}"
              ><span class="txt">View Pricing</span></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 tab-col-gap">
        <div class="service-lists service-lists-style1">
          <div
            class="single-service d-flex align-items-center wow fadeInUp"
            data-wow-delay="400ms"
            data-wow-duration="1500ms"
          >
            <!-- single-service 3-->
            <div class="single-service-icon">
              <i class="flaticon-app-development"></i>
            </div>
            <div class="single-service-content">
              <h4>User-friendly APIs</h4>
              <p>
                Our APIs are designed to be accessible for users with varying
                levels of technical expertise.
              </p>
              <a href="service_details.html"
                ><i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
          <div
            class="single-service d-flex align-items-center wow fadeInUp"
            data-wow-delay="400ms"
            data-wow-duration="1500ms"
          >
            <!-- single-service 3-->
            <div class="single-service-icon">
              <i class="flaticon-app-development"></i>
            </div>
            <div class="single-service-content">
              <h4>Subscription Plans</h4>
              <p>
                Whether you're a small business or a large enterprise, we have
                subscription options to fit your budget and scale with your
                needs.
              </p>
              <a href="service_details.html"
                ><i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
          <div
            class="single-service d-flex align-items-center wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <!-- single-service 1-->
            <div class="single-service-icon">
              <i class="flaticon-software-development"></i>
            </div>
            <div class="single-service-content">
              <h4>Real-Time Weather Monitoring</h4>
              <p>
                Access up-to-the-minute weather observations and forecasts,
                empowering you to make proactive decisions and mitigate risks.
              </p>
              <a href="service_details.html"
                ><i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
          <div
            class="single-service d-flex align-items-center wow fadeInUp"
            data-wow-delay="200ms"
            data-wow-duration="1500ms"
          >
            <!-- single-service 2-->
            <div class="single-service-icon">
              <i class="flaticon-dashboard"></i>
            </div>
            <div class="single-service-content">
              <h4>Customised Solution</h4>
              <p>
                Tailored weather solutions designed to meet your specific needs,
                whether you're in agriculture, construction, energy, or any
                other industry.
              </p>
              <a href="service_details.html"
                ><i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section end -->
<!-- newslatter section start -->
<section class="newslatter-sec bg-green">
  <div class="container">
    <div class="row aximo_screenfix_left">
      <div class="col-lg-7 p-0">
        <div class="video-sec">
          <div
            class="video-sec-overlay d-flex align-items-center justify-content-center"
          >
            <a href="#" class="video-btn"
              ><i class="flaticon-play-button-arrowhead"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div class="sec-content">
          <h2 class="sec-title">Stay Informed, Stay Ahead</h2>
          <p class="sec-text">
            Subscribe to our newsletter to receive the latest updates, insights,
            and exclusive offers from Greenaware.
          </p>
          <div class="Subscribe-form d-sm-flex">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Your Email"
              id="cta-email"
              name="cta-eail"
              required=""
            />
            <div class="submit-btn">
              <button type="submit" class="thm-btn">
                <span class="txt">Subscribe Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section start -->

<!-- business section start -->
<section class="business-sec sec-ptb bg-light-greem">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="sec-content h-100 d-flex justify-content-center flex-column"
        >
          <h6 class="sec-sub-title">How It Works</h6>
          <h2 class="sec-title">
            Streamlined Data Access, Simplified Decision-Making
          </h2>
          <p class="sec-text">
            At Greenaware, we understand the importance of efficient data access
            and streamlined decision-making for businesses in today's fast-paced
            world. Our platform offers a seamless process to access weather
            observation data and leverage it for informed decision-making.
            Here's how it works.
          </p>
          <div class="progressbar-tooltip">
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="80"
              data-title="Data Acquisition"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="75"
              data-title="Data Processing"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="90"
              data-title="Data Delivery"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="100"
              data-title="Decision Support"
            ></div>
            <div
              class="ab-progress"
              data-progress
              data-tooltip="true"
              data-value="100"
              data-title="Continuous Improvement"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tab-col-gap">
        <div
          class="sec-images wow fadeInRight"
          data-wow-delay="500ms"
          data-wow-duration="1500ms"
        >
          <div class="sec-img-one">
            <img
              src="{% static 'assets/images/about/about03.png' %}"
              alt="about-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- business section start -->
<!-- company quick info start -->
<section class="company-qinfo-sec">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="company-qinfo-raaper bg-green d-lg-flex">
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 1 -->
            <div class="info-icon">
              <i class="flaticon-management"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="12"></span>+</h2>
              <span>Team Members</span>
            </div>
          </div>
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 2 -->
            <div class="info-icon">
              <i class="flaticon-completed-task"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="358"></span>+</h2>
              <span>Observers</span>
            </div>
          </div>
          <div
            class="single-info flex-lg-fill d-flex align-items-center justify-content-center"
          >
            <!-- company single-info 3 -->
            <div class="info-icon">
              <i class="flaticon-handshake"></i>
            </div>
            <div class="info">
              <h2><span class="countfect" data-num="9"></span>k+</h2>
              <span>Subcribers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- company quick info end -->

<!-- testimonial section start -->
<section class="testimonial-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="sec-content text-center mb-5">
          <h6 class="sec-sub-title">Testimonials</h6>
          <h2 class="sec-title">What Our Subscibers Say</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testimonial-slider owl-carousel owl-theme">
        <div class="item h-100">
          <!-- single testimonial 1 -->
          <div class="single-testimonial h-100">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                "Greenaware has revolutionized the way we approach
                weather-related challenges in our industry. Their data-driven
                insights through their API have enabled us to make proactive
                decisions, resulting in significant cost savings and operational
                efficiencies. Very highly recommended to potential subcribers!"
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="{% static 'assets/images/testimonial/tc1.png' %}"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Joshua Liddell</h5>
                <span class="title">CEO, Acme Industries</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- single testimonial 2 -->
          <div class="single-testimonial">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                "As a subscriber to Greenaware, we rely on their weather
                observation data to plan and optimize our outdoor operations.
                The accuracy and timeliness of their data have been instrumental
                in helping us stay ahead of weather-related disruptions.
                Greenaware is an invaluable partner for our business."
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="{% static 'assets/images/testimonial/tc2.png' %}"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Arush Aggarwal</h5>
                <span class="title">COO, TerraTech Solutions</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
        <div class="item h-100">
          <!-- single testimonial 3 -->
          <div class="single-testimonial h-100">
            <div class="feedback">
              <div class="rating">
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
                <i class="flaticon-star"></i>
              </div>
              <p class="comment">
                "The Greenaware platform is a game-changer for businesses
                seeking to harness the power of weather data. Their intuitive
                interface, coupled with comprehensive data insights, has
                empowered us to develop innovative solutions and drive
                sustainable growth. Thank you, Greenaware, for your exceptional
                service!"
              </p>
            </div>
            <div class="customar-info">
              <div class="customar-img">
                <img
                  src="{% static 'assets/images/testimonial/tc3.png' %}"
                  alt="testimonial"
                />
              </div>
              <div class="customar-title">
                <h5>Rosy Flower Gaggero</h5>
                <span class="title">Co-founder, EcoTech Innovations</span>
              </div>
            </div>
            <div class="com-logo">
              <i class="flaticon-ux"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->
<!-- brand section start -->
<section class="brand-sec sec-ptb bg-green">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-lg-4 col-lg-4">
        <div class="sec-content text-center mb-5">
          <h5 class="brand-text">Partners <span>&</span> Sponsors</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="brand-slider owl-carousel owl-theme">
          <div class="item d-flex justify-content-center">
            <!-- brand-slider-item 1 -->
            <img
              src="{% static 'assets/images/brand/brand1.png' %}"
              alt="brand"
            />
          </div>
          <div class="item d-flex justify-content-center">
            <!-- brand-slider-item 2 -->
            <img
              src="{% static 'assets/images/brand/brand2.png' %}"
              alt="brand"
            />
          </div>
          <div class="item d-flex justify-content-center">
            <!-- brand-slider-item 3 -->
            <img
              src="{% static 'assets/images/brand/brand3.png' %}"
              alt="brand"
            />
          </div>
          <div class="item d-flex justify-content-center">
            <!-- brand-slider-item 4 -->
            <img
              src="{% static 'assets/images/brand/brand4.png' %}"
              alt="brand"
            />
          </div>
          <div class="item d-flex justify-content-center">
            <!-- brand-slider-item 5 -->
            <img
              src="{% static 'assets/images/brand/brand5.png' %}"
              alt="brand"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- brand section end -->

{% endblock content %}
