{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section class="about-sec contact-page-sec sec-ptb">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center mt-5 pt-5">
      <!-- <div class="col-lg-6"> -->
      <div class="sec-content w-50 p-5 shadow rounded-5">
        <h2 class="sec-title">Register</h2>
        {% include 'partials/messages.html' %}

        <form method="post" class="itco-cform login">
          {% csrf_token %}

          <div class="row">
            <div class="col-sm-6">
              <div class="contact-field">
                <label html-for="first-name">First Name</label>
                <input
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder="Input your first name"
                />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="contact-field">
                <label html-for="last-name">Last Name</label>
                <input
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder="Input your last name"
                />
              </div>
            </div>

            <div class="col-sm-12">
              <div class="contact-field">
                <label html-for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Input your email"
                />
              </div>
            </div>

            <div class="col-sm-12">
              <div class="contact-field">
                <label html-for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="*******"
                />
              </div>
            </div>

            <div class="col-sm-12">
              <div class="contact-field">
                <label html-for="confirm-password">Confirm Password</label>
                <input
                  type="confirm-password"
                  id="confirm-password"
                  name="confirm-password"
                  placeholder="*******"
                />
              </div>
            </div>

            <div class="col-sm-12">
              <div class="itco-form-btn">
                <button class="thm-btn mt-3" type="submit">
                  <span class="txt">Signup</span>
                </button>
              </div>
            </div>
            <div class="pt-4">
              <p>
                <small>
                  Already have an account?
                  <a href="{% url 'login' %}"> Login</a>
                </small>
              </p>
            </div>
          </div>
        </form>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>

{% endblock content %}
