{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section class="about-sec contact-page-sec sec-ptb">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center mt-5 pt-5">
      <!-- <div class="col-lg-6"> -->
      <div class="sec-content w-50 p-5 shadow rounded-5">
        <h2 class="sec-title">Register</h2>
        {% include 'new/register.html' with  type=type  %}
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
 <script src="{% static 'js/observer/register.js'%}" ></script>
{% endblock content %}
