{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section
  id="site-breadcumb"
  style="background-image: url('assets/images/breadcumb/breadcumb-bd.svg')"
>
  <div class="site-breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Pricing</h1>
            <ul class="page-navigator">
              <li class="home"><a href="index.html">Home</a></li>
              <li class="current-page"><a href="#">Pricings</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->
<!-- pricing section start -->
<section class="pricing-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="sec-content text-center mb-5">
          <h6 class="sec-sub-title">Our Pricing</h6>
          <h2 class="sec-title">Find the Right Plan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing h-100">
          <!-- single-pricing 1 -->
          <div class="pricing-badge text-center">
            <span class="title">Basic Plan</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">49<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="{% url 'register' %}?t=sub">Discover More</a>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Access to basic weather data</li>
              <li>Limited API requests per month</li>
              <li>Email support</li>
            </ul>
          </div>
        </div>
      </div>
        
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing popular h-100">
          <!-- single-pricing 2 -->
          <div class="pricing-badge text-center">
            <span class="title">Standard</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">99<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="{% url 'register' %}?t=sub">Discover More</a>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Access to standard weather data</li>
              <li>Increased API requests per month</li>
              <li>Priority email support</li>
              <li>Customizable data parameters</li>
              <li>Premium Plan</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing">
          <!-- single-pricing 2 -->
          <div class="pricing-badge text-center">
            <span class="title">Premium</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">199<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="{% url 'register' %}?t=sub">Discover More</a>
            </div>
          </div>

          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Access to premium weather data</li>
              <li>Unlimited API requests per month</li>
              <li>Priority email and phone support</li>
              <li>Customizable data parameters</li>
              <li>Historical weather data access</li>
              <li>Customizable data parameters</li>
              <li>24/7 support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- pricing section end -->
<!-- newslatter section start -->
<section class="newslatter-sec bg-green">
  <div class="container">
    <div class="row aximo_screenfix_left">
      <div class="col-lg-7 p-0">
        <div class="video-sec">
          <div
            class="video-sec-overlay d-flex align-items-center justify-content-center"
          >
            <a href="#" class="video-btn"
              ><i class="flaticon-play-button-arrowhead"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div class="sec-content">
          <h2 class="sec-title">Subscribe to Our Newsletter</h2>
          <p class="sec-text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
          <div class="Subscribe-form d-sm-flex">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Your Email"
              id="cta-email"
              name="cta-eail"
              required=""
            />
            <div class="submit-btn">
              <button type="submit" class="thm-btn">
                <span>Subscribe Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section start -->
<!-- faq section start -->
<section class="faq-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center flex-column">
        <div class="sec-content mb-5">
          <h6 class="sec-sub-title">FAQs</h6>
          <h2 class="sec-title">Looking For Answers?</h2>
        </div>
        <div id="accordion" class="accordion-container">
          <h4 class="accordion-title open">What is Greenaware?</h4>
          <div class="accordion-content">
            <p>
              Greenaware is a leading provider of weather observation data,
              offering real-time and historical weather information to
              businesses and individuals around the globe.
            </p>
          </div>
          <h4 class="accordion-title">
            How can I access weather data from Greenaware?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              You can access weather data from Greenaware through our API.
              Simply sign up for an API key, and you'll be able to integrate our
              weather data directly into your applications and services.
            </p>
          </div>
          <h4 class="accordion-title">
            What types of weather data does Greenaware provide?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Greenaware provides a wide range of weather data, including
              temperature, humidity, wind speed, precipitation, and more.
              Whether you need current conditions or historical data, we've got
              you covered.
            </p>
          </div>
          <h4 class="accordion-title">
            How accurate is Greenaware's weather data?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Our weather data is sourced from a network of reliable weather
              stations and sensors, ensuring accuracy and reliability. We use
              advanced algorithms and quality control measures to ensure that
              our data is up-to-date and accurate.
            </p>
          </div>
          <h4 class="accordion-title">
            How can I sign up for Greenaware's weather data services?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Signing up for Greenaware's weather data services is easy! Simply
              visit our website and create an account. Once you've signed up,
              you'll have access to our API and other weather data services.
            </p>
          </div>
          <h4 class="accordion-title">
            How does Greenaware ensure data privacy and security?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              At Greenaware, we take data privacy and security seriously. We use
              industry-standard encryption and security measures to protect your
              data and ensure that it remains confidential. Additionally, we
              comply with all relevant data protection regulations to safeguard
              your information.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tab-col-gap">
        <div class="sec-images">
          <div class="sec-img-one">
            <img src="{% static 'assets/images/about/faq.png' %}" alt="faq" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq section end -->

<!-- newslatter section start -->
<section class="newslatter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="newslatter-style2">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h4 class="newslatter-text">
                Subscribe to Our Newsletter for the daily Updates
              </h4>
            </div>
            <div
              class="col-lg-6 offset-xl-1 col-xl-6 d-flex flex-column justify-content-center"
            >
              <div class="Subscribe-form d-flex">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Your Email"
                  id="cta-email"
                  name="cta-eail"
                  required=""
                />
                <button type="submit" class="thm-btn">
                  <span class="txt">Subscribe</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section end -->

{% endblock content %}
