{% extends 'new/layout.html'%} {% load static %} {% block content %}

<section
  id="site-breadcumb"
  style="background-image: url('assets/images/breadcumb/breadcumb-bd.svg')"
>
  <div class="site-breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Pricing</h1>
            <ul class="page-navigator">
              <li class="home"><a href="index.html">Home</a></li>
              <li class="current-page"><a href="#">Pricings</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->
<!-- pricing section start -->
<section class="pricing-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="sec-content text-center mb-5">
          <h6 class="sec-sub-title">Our Pricing</h6>
          <h2 class="sec-title">Find the Right Plan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing">
          <!-- single-pricing 1 -->
          <div class="pricing-badge text-center">
            <span class="title">Basic Plan</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">110<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="pricing.html">Discover More</a>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Weekly Reporting</li>
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Unlimited users</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing popular">
          <!-- single-pricing 2 -->
          <div class="pricing-badge text-center">
            <span class="title">Popular</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">210<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="pricing.html">Discover More</a>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Weekly Reporting</li>
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Unlimited users</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="single-pricing">
          <!-- single-pricing 2 -->
          <div class="pricing-badge text-center">
            <span class="title">Custom</span>
            <div class="pricing-price">
              <span class="currency">$</span>
              <h3 class="price">310<span>/Per Month</span></h3>
            </div>
            <div class="pricing-btn">
              <a class="btn" href="pricing.html">Discover More</a>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="pricing-list">
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Weekly Reporting</li>
              <li>Key Words Optimized</li>
              <li>Top 10 Ranking Guarantee</li>
              <li>Unlimited users</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- pricing section end -->
<!-- newslatter section start -->
<section class="newslatter-sec bg-green">
  <div class="container">
    <div class="row aximo_screenfix_left">
      <div class="col-lg-7 p-0">
        <div class="video-sec">
          <div
            class="video-sec-overlay d-flex align-items-center justify-content-center"
          >
            <a href="#" class="video-btn"
              ><i class="flaticon-play-button-arrowhead"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div class="sec-content">
          <h2 class="sec-title">Subscribe to Our Newsletter</h2>
          <p class="sec-text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
          </p>
          <div class="Subscribe-form d-sm-flex">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Your Email"
              id="cta-email"
              name="cta-eail"
              required=""
            />
            <div class="submit-btn">
              <button type="submit" class="thm-btn">
                <span>Subscribe Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section start -->
<!-- faq section start -->
<section class="faq-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center flex-column">
        <div class="sec-content mb-5">
          <h6 class="sec-sub-title">FAQs</h6>
          <h2 class="sec-title">Looking For Answers?</h2>
        </div>
        <div id="accordion" class="accordion-container">
          <h4 class="accordion-title open">
            What Does Having Managed Your Services Provider?
          </h4>
          <div class="accordion-content">
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation.
            </p>
          </div>
          <h4 class="accordion-title">
            What You About Say Your Business Palnning ?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation.
            </p>
          </div>
          <h4 class="accordion-title">
            You Have a Unique Way Of The Working in IT?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation.
            </p>
          </div>
          <h4 class="accordion-title">
            What Types Of Systems Do You Support ?
          </h4>
          <div class="accordion-content" style="display: none">
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tab-col-gap">
        <div class="sec-images">
          <div class="sec-img-one">
            <img src="assets/images/about/faq.png" alt="faq" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq section end -->

<!-- newslatter section start -->
<section class="newslatter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="newslatter-style2">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h4 class="newslatter-text">
                Subscribe to Our Newsletter for the daily Updates
              </h4>
            </div>
            <div
              class="col-lg-6 offset-xl-1 col-xl-6 d-flex flex-column justify-content-center"
            >
              <div class="Subscribe-form d-flex">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Your Email"
                  id="cta-email"
                  name="cta-eail"
                  required=""
                />
                <button type="submit" class="thm-btn">
                  <span class="txt">Subscribe</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- newslatter section end -->

{% endblock content %}
